@charset "utf-8";
/* CSS Document */

/*excel export buttons*/


.CONTENT.grid{
	margin-top:150px;
	font-size:2.5em;
}
caption.bottom{
	background-color:lightgray;
	padding:8px;
}
.button-default{
	margin:3px;
	padding:4px;
	margin-left:5px;
}
div#menu input{
	margin-left:10px;
}

/*effects*/
.dim{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 100;
}
.dim.selected{
	background: #f00;
    height: 60px;
    width: 84px;
    margin: 19px;
    z-index: 012;
    transform: translate(-49%, -55%);
    padding-top: 45px;
    padding-left: 51px;
}
/*GENERAL*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

#verbose{
    margin-right: 10px;
    margin-left:10px;
    top: 100px;
    background-color: #eeeeee;
    font-size: small;
    overflow: auto;
    text-align: left;
    padding: 2px;
    float: left;
    min-height:700px;
    max-height:1200px;
}

#image_td {
	vertical-align:700px;
}

#verbose table th, #verbose table td {
    border-bottom: 1px solid #ddd;
}
.red{
	color:red;
}
.green{
	color:green;
}
.redb{
	background-color:red;
	color:white;
	padding:2px;
}
.greenb{
	background-color:green;
	color:white;
	padding:2px;
}
.greyb{
	background-color:grey;
	color:white;
	padding:2px;
}
.grey{
	color: gray;
}

pre#verbose_info{
	font-size: initial;
}
body
{
	padding:0px;
	margin:0px;
	
}
.node1{
	position:absolute;
	width:100px;
	background:#666;
	color : #fff;
	padding:10px;
	cursor:pointer;
	font-family:Georgia, "Times New Roman", Times, serif
}
.node2{
	position:absolute;
	width:100px;
	background:#F99;
	left: 300px;
	padding:10px;
	cursor:pointer;
	font-family:Georgia, "Times New Roman", Times, serif
}
#loading_icon{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/* HEADER */
/*
#mainmenumobiletitle{
	display:flex;
}
#dev_icon {
    height: 80px;
    top: 3px;
    position: relative;
    margin-right: 20px;
    margin-left:7px;
}*/
#Default_menu_folder{
    text-align: center;
}
#mainmenumobiletitle{
	display:none;
}
#upperbar_searchbox{
	font-size: 33px;
	margin-top: 30px;
	margin-left: 30px;
	width:200px
}

#reset_tokenid_button{
	margin-top:30px;
}
 #language_select{
 	-webkit-appearance: none;
 	font-size: 40px;
	margin-top:30px;
	margin-left: 0.7em;
 }
 
#menubuttonCLOSE, #menubuttonOPEN{
	height:110px;
}
#menupngdesktop{
	width:110px;
}
#menu_dashboard_wrapper_link{
	color:white;
	font-size:1.2em;
}
#menu_dashboard_wrapper{
	margin-top:10px;
	margin-left:7px;
}
.CELL{
  padding:0.5em;
}
.CONTENT{
  margin-top: 10px;
  margin-left:10px;
}
.TITLE{
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:x-large;
  color:black;
}
.IMAGETINY{
  max-width:100px;
  margin-top: 5px;
}

.ROUND{
  border-radius: 15px;
}

.BLUE{
  background: #33ccff;
  color: #ffffff;
}

#main_AES, .mobiletitle{
  display:none;
} 




#menupngdesktop{
	
	margin-left: 10px;
    margin-top: 3px;

}




#mainmenudesktop{
  position: fixed;
  overflow:scroll;
  border:1px solid blue;
  width: 300px;
  height: 100%;
  background-color:white;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  top: 0;
}

.mainmenumobile{
  width: 100% !important;
  font-size: xx-large !important;
}


#innermainmenudesktop{
  text-align: left;
  /*margin:35px;*/
}

.headerbutton_div{
	display:flex;
  text-align:left;
}

.headerbutton_a{
  
  width:100%;
	text-decoration:none;
	padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
	vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    white-space: nowrap;
}
.activetab>a{
	background-color:blue;
	color: White;
} 
.activebutton{
	background-color:#418EDD;
} 


#alarms_number, #systems_number{
	background-color: #fa3e3e;
    border-radius: 2px;
    color: #fff;
    padding: 1px 3px;
    display: inline-block;
    font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.3;
    min-height: 13px;
    bottom: 5px;
    vertical-align: super;
}
.tokenid{
	/*top: 0px;
    left: 0px;
    position: fixed;*/
    color: red;
    font-size: small;
}
#mobile_search{
	display:none;
}
#search_header{
	top: 4px;
    position: relative;
}
/*DASHBOARD PAGE*/
.grey_background{
	background-color:#e6e4e2;
}
.white_background{
	background-color:#FFFFFF;
}

.dashboard_level {
    border: 1px solid #999999;
    padding-bottom: 10px;
    margin-right: 5px;
    margin-top: 10px;
    padding: 3px;
}
.newtabicon{
	height:25px;
	margin-left:10px;
}
/*Simulator page*/
.float_right {
    float: right;
}
.group_main_wrapper{
	background-color:white;
	border: 1px solid black;
    padding: 5px;
    z-index: 1;
	position:absolute;
	width: -moz-max-content;
  	width: -webkit-max-content;
  	width: max-content;
  	
	}
#all_alarms_table > tbody > tr > td > span {
	cursor: pointer;
}
table.system_alarms   td:first-child {
	width: 432px;
}
table.system_alarms   td:first-child > span {
	float:right;
}
.blue{
	color:blue;
}
span.bold{
	font-weight: bold;
}

table.system_alarms {
    border-collapse: collapse;
}
.container{
	position: relative;
    display: block;
	/*display: inline-block;*/
	/*margin-top: 45px;*/
}
#verbose_td{
	vertical-align: top;
}
div.container >img.element{
	float:left;
}
/*Admin page:*/
#addAdmin_div{
	width:200px; 
	text-align:right;
}
#addAdmin_button{
	margin-top:5px;
}
#adminpage_div{
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
}
#admin_tbody tr td{
	padding-right:5px;
	padding-left:5px;

}

#photos_table, #photos_table td, #photos_table tr{
	border:1px solid grey;
}
/*table sorter blue theme correction*/

/*documentation page*/
#documentation_table, #administrators_table{
	margin: 0 auto;
}

#documentation_list, #administrators_list{
	display:table;
	margin-left:auto;
	margin-right:auto;
}



/*Toolsbar*/
#right_bar{
    position: fixed;
    overflow: scroll;
    border: 1px solid blue;
    width: 430px;
    height: 100%;
    background-color: white;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    top: 37px;
    right: 0;
}
#toolsbar{
	height: 28px;
    background-color: lightgray;
    margin-top: 38px;
    
    width: 100%;
}
#toolsbar2{
    background-color: lightgray;
    margin-top: -1px;
    margin-left: -10px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 5px;
}

.search_button{
	margin-left:10px;
} 
#export_div{
    float:left;
    margin-left: 30px;
    margin-right: 150px;
    margin-top: 5px;
}
#search_div{
	float:left;
	margin-left:100px;
	margin-top: 5px;
}

#advanced_search_table{
	margin-left:20px;
}

#export_excel{
	margin-left: 5px;
}
#history_button{ 
	margin-left:30px;
}
#history_button_inbar{
	float: right;
    margin-top: 3px;
    margin-right: 3px;
}
/*Alarms page*/
#alarm_tbody > tr{
	cursor:pointer;
}
#alarms_center, #systems_center, #search_center, #impactpage_center{
	width:100%; 
	display: inline-block;
}

/*
#alarms_center{
	width:1520px;	
}*/

#alarm_list,#impact_list, #inhibit_list{
	float: left;
    width: 445px;
    margin-left:20px;
}

#alarm_list{
	width: 545px;
}

/*this one is important to keep the width of the tbody and thead equals*/
.tablesorter-blue {
    width:400px!important;
   }
#documentationpage_div  .tablesorter-blue,#administratorspage_div  .tablesorter-blue  {
    width: 700px!important;
   }   
#search_list td:nth-child(2) {
    font-size: smaller;
}
/*Systems page*/
#system_tbody > tr{
	cursor:pointer;
}

#system_list, #search_list{
  float: left;
  /*min-width: 505px;*/
  /*min-width:400px;*/
  /*width:40%;*/
}
 
#page2{
    background-color: #ebf2fa;
    margin-left: 0px;
    /* width: 32%; */
    min-width: 285px;
    /*width:40%;*/
    height: 870px;
    overflow:auto;
    font-size: smaller;
    float: left;
    margin-left:5px;
    font-size: large;
    margin-top: 10px;
}
#page2.impact{
	width: 52%;
}
#page2.inhibit{
    height: 200px; 
}
#alarm_buttons{
	text-align: center;
}
#trigger_alarm{
	border:2px solid red;
}
#photos_list{
	columns: 2;
    list-style-type: none;
}
#object_type_wrapper{
	margin-bottom: 50px;
}   
.object_type{
	float: right;
    background-color: blue;
    color: white;
    border: none;
    padding: 4px;
    margin-right: 3px;
    margin-top: 3px;
    
}
.object_type_bar {
    float:right;
    background-color: blue;
    color: white;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    width:9em;
    margin-right: 3px;
    margin-top: 3px;
}
.history_row{
	height:29px;
	margin-left:3px;
}
#delayedactions_table{
	background-color: #bbbbbb;
	margin-left: 10px;
    overflow-y: auto;
	border:grey 1px solid;	
	font-size: smaller;
	display:inline-block;
}

#delayedactions_tbody > tr> td{
	border-bottom:1px solid #999999;
}

#delayedactions_div{
	height: 300px;
	overflow:hidden;
}
#delayedactions_tbody{
	background-color: #ddd;
    display: block;
    height: 244px;
    overflow-y: auto;
    overflow-x: hidden;
}

.minitable{
	margin-left:30px;
	margin-top: 10px;
}
.capital:first-letter {
    text-transform: uppercase;
}
#page3{
	background-color: #eee;
    
    float:left;
    /* width: 32%; */
    min-width: 285px;
   /*min-width: 400px;*/
   /*width: 30%;*/
    overflow-y: auto;
	height:870px;
	margin-left:2px;
	font-size: large;	
   	margin-top: 10px;
}
#action_description{
	display: block!important;
	background-color: rgb(179,197,221);
}

#page3backbutton_wrapper{
		margin-left:5px;
	}
#page4{
	display: none;
    /* clear: both; */
    background-color: #ff9ea1;
    position: fixed;
    bottom: 0;
    width: 445px;
    overflow-y: auto;
    height: 200px;
    font-size: smaller;
    width: 100%;
}
#page2 > p{
	margin-left:1em; 
	margin-bottom:-0.2em;
}

#page3 > p{
	margin-left:1em; 
	margin-bottom:-0.8em;
}

#page4 > p{
	margin-left:1em; 
	margin-bottom:-0.8em;
}

.debuginfo p{
	margin-left:1em;
	font-size:smaller;
	
}
.level1{
	font-size: large;
	font-weight: bold;
	margin-bottom: inherit!important;
}
.level2{
	font-size: normal;
}


.cursor{
		cursor:pointer;
}
.link{
	text-decoration: underline;
}
hr{
	display: block;
    
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: #99bfe6;
}
hr.blueline{
	background: #99bfe6;
}
hr.greyline{
	background: #cccccc;
}

#debug{
    position: fixed;
    top: 10px;
    right: 10px;
    color:red;

}
.btn{
	margin:10px;
}

#copytext{
	margin-left:10px;
	background-color:#cdcdcd;
}




#exitButton{
	margin-top: 5px;
	text-align: right;
    margin-right: 30px;
}

.debuginfo{
	color: #333333;
}





/*INHIBIT page*/

.inhibit_add{
	width: 16px;
    height: 16px;
    background: url(../../images/add.png) no-repeat;
    float: right;
    margin-right: 5px;	
}
.inhibit_del{
	width: 16px;
    height: 16px;
    background: url(../../images/del.png) no-repeat;
    float: right;
    margin-right: 8px;	
}

table#inhibit_table tbody tr td{
	vertical-align:top;
	
}
table#inhibit_table tbody tr td:NTH-CHILD(2){
	text-align:right;
}
#inhibited_list, #archived_list{
		/* float: left; */
    clear: both;
    width: 1232px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#inhibit_span, #inhibit_span{
	clear:both;
	float: left;
    margin-right: 100px;
    margin-top: 10px;
    border: 1px solid lightgrey;
    padding: 20px;
}


/* SEARCH PAGE*/
#search_table{
	width:500px;
}
#toolsbar{
	display:none:
}
#alarmpage_div, #searchpage_div, #systempage_div, #impacpage_div{
	display:flex;
	    width: 100%;
}
#searchwrapper {
	margin-top: -15px;
    margin-left:-10px;
    background-color: #eee;
    padding:10px;
    text-align:center
}


#search_page2{
	background-color: #ebf2fa;
    position: fixed;
	margin-left: 0px;
    width: 500px;
    overflow-y: scroll;
    height: 100%;
    border: 1px solid grey;
	font-size: smaller;
    padding-bottom: 400px;
    overflow: auto;
}

.leftmargin{
	margin-left: 3px;
}

/*
#delayed_actions_table{
	margin-left:5px;
}
*/

.delayed_action_delete_button{
	margin-left:10px;
}

/***************************************************************/
/*****************simulatorEditor.php*****************/

/*general*/
#simulator_div{
	width: 1300px;
	background-color: #dddddd;
    height: 800px;
    margin: 5px;
    user-select:none;
}
#simulator_menu{
	text-align:right;
	margin-right:10px;
	margin-top:10px;
	
}

#simulator_menu ul{
	list-style-type: none;
}
#simulator_menu ul li button {
	width: 7em;
}

/*toolbox*/

#toogle_size{
	cursor:pointer;
	user-select:none;
}

#toolbox_div{
	background-color:#3AA9E7;
    height: 370px;
    margin-left: 2px;
    position: fixed;
    top: 155px;
    width: 55px;
    text-align: left;
    padding-left: 10px;
    border: 1px solid black;
    display:block;
}
#toolbox_div td{
	display: inline-block;
}
#toolbox_div input[type=text]{
	width:30px;
}
#toolbox_div input[type=button]{
	width:40px;
}
#toolbox_div button{
	width:50px;
	margin-bottom:3px;
}
#toolbox_type_select{
	width:50px;
}

#toolbox_div.big{
	background-color:#3AA9E7;
    height: 33em;
    width: 30em;
    text-align: left; 
    padding-left: 10px;
    border: 1px solid black;
}
#toolbox_div.big table tbody tr td{
	display: table-cell;
}

#toolbox_div.big table tbody tr{
	margin-bottom:3px;
}

#toolbox_div.big table tbody tr td{
	padding-bottom:5px;
}
#toolbox_powers tbody tr td{
	padding-bottom:initial;
}
#toolbox_div.big table tbody tr td div table tbody tr td{
	padding-bottom:0px;
}
#toolbox_div.big table tbody tr {
	border-bottom:1px solid black;
}

#toolbox_div.big input[type=text]{
	
	width:100px;
}
#toolbox_div.big input[type=button]{

	width:100px;
}

#toolbox_div.big select{
	width:100px;
}

#toolbox_link_select{
	height: 30px;
    overflow: overlay;
}

#toolbox_div.big #toolbox_link_select{
	height: 130px;
    overflow: overlay;
}


/*previewbox*/
.previewbox_div{
	background-color:#3ae779;
    height: 4em;
    width: 6em;
    position: absolute;
    /*left: 500px;
    bottom: 300px;*/
   	
    border: 2px solid black;
    text-align: initial;
    resize: both;
    overflow: auto;
    font-size: small;
}
#toolbox_selected_powers_wrapper, #toolbox_list_powers_wrapper, #toolbox_selected_links_wrapper, #toolbox_list_links_wrapper{
	max-height: 200px;
    overflow: auto;
    font-size: smaller;
}
#toolbox_selected_powers_wrapper{
	max-height: 100px;
}
#toolbox_div > table > tbody > tr > td{
   vertical-align: top;
   
}
.drag_bar{
	cursor:pointer;
	height: 15px;
	width: 5em;
	background-color:red;
	margin-bottom:5px;
}



/*boxes*/
.box{
	/*background-color:#3ae779;
    height: 8em;
    width: 10em;
    position: absolute;
    left: 500px;
    bottom: 300px;*/
    color:white;
    border: 1px solid black;
    text-align: initial;
    /*overflow: auto;*/
    font-size: x-small;
    
}

.box > .drag_bar{
	display:none;
}

.edit_box_button_div{
	text-align: right;	
}

.edit_box_button{
	top: 1	px;
    width: 16px;
    right: 2px;
    position: absolute;
 
}

.box p{
	line-height: 2px;
}


.state.off{
	width:10px;
	height: 10px;
	background: url("../../images/stateoff.png") no-repeat;
}
.state.on{
	width:10px;
	height: 10px;
	background: url("../../images/stateon.png") no-repeat;
}
.switch.off{
	width:10px;
	height: 10px;
	background: url("../../images/switchoff.png") no-repeat;
}
.switch.on{
	width:10px;
	height: 10px;
	background: url("../../images/switchon.png") no-repeat;
}
/*debug*/
#simulator_debug{
	color:red;
	position:fixed;
	bottom:20px;
	right:20px;
}

#current_preview_position{
	position: fixed;
    bottom: 0;
    color: red;
    left: 10px;
}
#error_messages{
	color:red;
	position:fixed;
	top:0;
	right:50%;
	font-size: larger;
}

#loadOthers_wrapper{
	height: 150px;
    width: 150px;
    overflow: overlay;
    background: darkgrey;
    position: fixed;
    right: 20px;
    border: 1px solid grey;
}
#loadOthers_wrapper table tbody tr{
	cursor:pointer;
	
}
#loadOthers_wrapper table tbody tr td{
	text-align:right;
}

/*canvas*/
canvas
{
	position: absolute;
    top: 132px;
}
/****************/
/*IMPACT*/

#table_center{
	margin-left:auto;
	margin-right:auto;
	width:500px;
}

#table_center thead tr th:first-child { 
	width: 500px;
	flex:1;
}


#l2_center{
	/*position:fixed;
	bottom:1px;
	left:20px;
	background-color: cornsilk;
    padding: 16px;
    height: 330px;
    overflow: auto;
    border: 1px solid grey;*/
   	background-color: cornsilk;
    padding: 16px;
    height: 330px;
    overflow: auto;
    border: 1px solid grey;
    width: 200px;
}
#impact_info{
	
    margin-bottom: 10px;
}


.newtabicon{
	float:right;
	margin-right: 5px;
}
/*
#impact_list{
	display:table;
	float:left;
	
}*/

.footer{
	clear:both;
	
}

#footer_bar{
	background-color: lightgray;
	bottom:0;
	position:fixed;
	width:100%;
	text-align:center;
}
::-webkit-scrollbar {
display: none;
}




#desktopmenubutton{

  position: fixed;
  z-index: 4;
  width: 100%;
  text-align: left;
  background-color: #418EDD;
  display: flex;
  color:white;
  top:0px;
  	font-size: 1.7em;
	height:110px!important;
  
}

#mainmenudesktop{
	overflow:inherit;
	border:none;
	background-color:initial;
	width:100px;
	
}
#mobile_search{
	display:block;
    height: 110px;
    border-bottom: 1px solid grey;
    text-align: left;
    background-color: #418EDD;
    padding-top: 20px;
}
#search_div,#export_div{
	display:none;
}
#mobile_search_input{
	width: 51%; 
    height: 1.1em;
    margin-left:13px;
    font-size: 1em;
    
    
}
#mobile_search_header{
	font-size:1em;
	
}


#tokenid{
	position:fixed;
	bottom:0;
	width: 100%;
    background-color: #3c3c3c;
    margin-left: -35px;
    color:white;
    text-align:center;
}
.CONTENT{
  margin-top: 110px;
}





#searchwrapper {
    margin-left:-10px;
    background-color: #eee;
    padding:10px;
    text-align:center
}
#search_input{
	font-size:1.3em;
	width:8em;
	
}
#search_button{
	font-size:2em;
	margin-left:0.2em;
}

	#systems_center{
		width:99%;
		margin-left:5px;
	}
	
	
	#search_center{
		width:inherit;
		display:inherit;
	}
	
	#searchpage_div{font-size:small;}
	#alarm_list, #system_list, #impact_list, #search_list{
		display:block;
		max-width:initial;
		width:98%;
		font-size: 2em!important;
		margin-left:auto;
		margin-right:auto;
		
		margin-top:10px;
	}
	#alarm_table td, #systems_table td, #impact_table td{
		padding-bottom:10px;
		padding-top:10px;
	}
	
	
	#page2{
		display:none;
		position:fixed;
	    background-color: #DBEFFB;
	    overflow:inherit;
	    width: 100%;
	    height: 100%;
	    font-size:medium;
	    bottom: 0;
	    font-size:2em;
	    top: 90px;
	 	left:0;  
	 	margin-left:0px;
	 	overflow:auto; 
	
	}
	.debuginfo p{
	margin-left:1em;
	font-size:small;
	
}
	#alarm_buttons{
		text-align: right;
	}
	#page3{
		display:none;
		position:fixed;
	    background-color: #DBEFFB;
	    overflow:inherit;
	    width: 100%;
	    height: 100%;
	    font-size:medium;
	    bottom: 0;
	    font-size:2em;
	    top:90px;
	 	left:0;  
	 	margin-left:0px;
	 	overflow:auto; 
	}
	
	
	
	#page3 > p {
		margin-bottom: .7em;
	}
	
	#page4{
		display:none;
		height: 400px;
		margin-left:initial;
		width:50%;
		border-top: black 1px solid;
	    border-right: black 1px solid;
	    font-size: smaller;
	}
	
	.level1{
		font-size:1.7em;
	}
	#page2>p, #page3>p{
		margin-left:.1em;
	}
	#table_center{
		width:100%;
	}
	
	#closepage2{
		background-color: red;
	    width: 100%;
	    height: 136px;
	    text-align: center;
	    top: 0;
	    position: fixed;
	    right: 0;
	}
	
	#mainmenumobile{
		display:flex;
		margin-bottom:20px;
		background-color:#3c3c3c;
		width:100%;
		position:fixed;
		height:100px;
	}
	
	.IMAGETINY{
		display:none
	}
	
	.mobiletitle{
		display:inline;
		 font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	  font-weight:bold;
	  font-size:2em;
	  color:white;
	  
	}
	
	
	
	.tokenid{
		color:red;
		position:initial;
		top: auto;
		left: auto;
		font-size:1em;
	}
	#mobilecontrol{
		display:none;
		right:15px;
		top:5px;
		position:fixed;
		padding:8px;
		background-color:red;
		color: white;
	    font-size: 2em;
	    border: 3px solid white;
	}
	#page2  button{
		margin-left:.5em;
		margin-right:1em;
	}
	
	.ROW{
		position: fixed;
	    top: 100px;
	    width: 100%;
	    font-size: 3em;
	    background-color:white;
	    height:100%;
	    overflow-x:hidden;
	    overflow-y:scroll;
	}
	.CELL{
	display:none;
	}
	.headerbutton_div{
		height:110px;
		margin:1px;
		text-align:left;

		background-color: #418EDD;
		border: 30px solid gray;
		color: white;
		border: none;
		width: 100%;
	}
	a.headerbutton_a{
		color:white;
	}
	
	.L2{

        padding-left:.7em;
	}
	.L3{
		padding-left:.9em;
	}
	#menu_switcher{
		text-align:center;
		text-decoration: underline;
	}

	.CONTENT.about{
	font-size:x-large;
	}
	#mobilemenubutton img{
		height:80px;
		margin-left: 1em;
	    margin-right: 2em;
	    margin-top: .5em;
	}
	#pagecontent{
		position: fixed;
	  margin-top: 100px;
	  font-size: 2.5em;
	}
	
	#pagecontent.administration{
		position: initial;
	  margin-top: 100px;
	  font-size: 2.5em;
	}
	button{
		font-size:30px;
		margin-left:20px;
		padding:5px;
	}
	#administrators_table, #documentation_table{  
	  font-size:1em!important;
	}
	
	#systempage_div, #alarmpage_div, #impactpage_div, #searchpage_div{
	  margin-left: auto;
	  margin-right: auto;
	  display: table;
	}
	#alarms_number{
		font-size:1em;
		margin-left:2em;
	}
	.tablesorter-blue input.tablesorter-filter, .tablesorter-blue select.tablesorter-filter {
	    height: 4em!important;
	}
	
	#documentationpage_div  .tablesorter-blue , #administratorspage_div  .tablesorter-blue {
	    width: 600px!important;
	}
	
	#alarms_center{
		width:initial;
	}
	
	
	#jumptop{
		display:none;
		position: fixed;
	    width: 75px;
	    height: 75px;
	    right: 30px;
	    bottom: 30px;
	    cursor: pointer;
	    z-index: 9990;
	    display: none;
	    background: url(../img/up.png) no-repeat center center rgba(0,0,0,0.8);
	    background-size: 75px 75px;
	    border: none;
	    border-radius: 50%;
	}
	#verbosecontrol{
		display: none;
    position: fixed;
    top: 5px;
    right: 35px;
    color: white;
    font-size: 2.5em;
    border: 4px solid white;
    padding-left: 11px;
    padding-right: 11px;

	}
	#verbose{
		
		position:fixed;
		top:100px;
		right:0px;
		z-index: 1;
		left:initial;
		height:100%;
		font-size: 2em;
		
	}
	
	#addAdmin_div {
		width: 5em;
	    
	    height: 2em;
	    display:inline;
	}
	#addAdmin_div input{
		width: 8em;
	    background-color: #99bfe6;
	    height: 3em;
	    vertical-align:1em;
	}
	
	#footer_bar{
		display:none;
	}
	
	#pagecontent.inhibit{
		position:inherit;
	}
	#inhibit_list{
		
	    width: 98%;
	    
	}
	
	#inhibit_span{
	width:100%;
	font-size:1em;
	margin-right:inherit;
	}
	#inhibit_table_form{
	margin-left:auto;
	margin-right:auto;
	}
	#inhibit_span input{
	 
	 font-size:0.75em;
	}
	#inhibit_span textarea{
	font-size:0.75em;
	
	}
	#inhibit_span select{
	 
	 font-size:1em;
	}
	
	.inhibit_add{
		width: 1em;
	    height: 1em;
	    background: url(../../images/add32.png) no-repeat;
	    float: right;
	    margin-right: 5px;	
	}
	.inhibit_del{
		width: 1em;
	    height: 1em;
	    background: url(../../images/del32.png) no-repeat;
	    float: right;
	    margin-right: 8px;	
	}	
	
#pointing_svg{
	display:none;
	position:absolute;
	z-index:1;
}	


#img-modal {
	display: none;
}



/*simulator_evaluator*/
a.mobilebutton{
    display :inline-block;
    padding :0.7em 1.7em;
    margin :0 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    position:relative;
}
a.mobilebutton:active{
box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
@media all and (max-width:30em){
a.button7{
display:block;
margin:0.4em auto;
}
}

.mobileselect {
    display: block;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 50%;
    max-width: 50%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.mobileselect::-ms-expand {
    display: none;
}
.mobileselect:hover {
    border-color: #888;
}
.mobileselect:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.mobileselect option {
    font-weight:normal;
}