@charset "utf-8";
/* CSS Document */
/*excel export buttons*/
.title{
    font-size:large;
    font-weight: bold;
}
caption.bottom {
    background-color: lightgray;
    padding: 8px;
}

caption.bottomleft {
    background-color: lightgray;
    caption-side: bottom;
}

.button-default {
    margin: 3px;
    padding: 4px;
    margin-left: 5px;
}
div#menu input {
    margin-left: 10px;
}
/*effects*/

.dim {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 100;
}
.dim.selected {
    background: #f00;
    height: 60px;
    width: 84px;
    margin: 19px;
    z-index: 012;
    transform: translate(-49%, -55%);
    padding-top: 45px;
    padding-left: 51px;
}
/*GENERAL*/

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    
    -khtml-user-select: none;
    /* Konqueror */
    
    -moz-user-select: none;
    /* Firefox */
    
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
}
#verbose {
    margin-right: 10px;
    margin-left: 10px;
    top: 100px;
    background-color: #eeeeee;
    font-size: small;
    overflow: auto;
    text-align: left;
    padding: 2px;
    float: left;
    /*min-height: 700px;
    max-height: 1200px;*/
}
#image_td {
    vertical-align: 700px;
}
#verbose table th,
#verbose table td {
    border-bottom: 1px solid #ddd;
}
.red {
    color: red;
}
.green {
    color: green;
}
.redb {
    background-color: red;
    color: white;
    padding: 2px;
}
.greenb {
    background-color: green;
    color: white;
    padding: 2px;
}
.greyb {
    background-color: grey;
    color: white;
    padding: 2px;
}
.grey {
    color: gray;
}
.orange{
	background-color:orange;
}
.centered{
	text-align: center;
}
.centered_div{
    text-align: center;
    display: inherit;
}
pre#verbose_info {
    font-size: initial;
}
body {
    padding: 0px;
    margin: 0px;
}
.node1 {
    position: absolute;
    width: 100px;
    background: #666;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-family: Georgia, "Times New Roman", Times, serif
}
.node2 {
    position: absolute;
    width: 100px;
    background: #F99;
    left: 300px;
    padding: 10px;
    cursor: pointer;
    font-family: Georgia, "Times New Roman", Times, serif
}
#loading_icon {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
/* HEADER */

#related-pages-links{
    margin-top: 60px;
}
.related-page-link{
    margin-left: 30px;
    background-color: #CCC;
    padding: 5px;
    border-radius: 7px;
}
.related-page-link a {
    text-decoration: none;
}

#bar_icons{
    border-spacing: 0px;
}
#menubuttonCLOSE, #menubuttonOPEN{
	height:37px;
}

#menu_search_label{
    font-size:smaller;
    margin-right: 1em;
	color: grey;
    }

.CELL {
    padding-top: 0.5em;
}
.CONTENT {
    margin-top: 45px;
    margin-left: 10px;
}
.notopmargin{
	margin-top:5px;
}
.TITLE {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: black;
    text-align:center;
}
.IMAGETINY {
    max-width: 100px;
    margin-top: 5px;
}
.ROUND {
    border-radius: 15px;
}
.BLUE {
    background: #33ccff;
    color: #ffffff;
}
#mainmenumobile,
.mobiletitle {
    display: none;
}
#desktopmenubutton {
    position: absolute;
    z-index: 4;
    width: 100%;
    text-align: left;
    background-color: #418EDD;
    display: flex;
    color: white;
    top: 0px;
    height:44px;
    min-width:1200px;
}
#mainmenumobiletitle {
    text-align: center;
    margin-left: 10px;
    margin-top: 8px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    top: -4px;
    position: relative;
    margin-right: 20px;
}
#menupngdesktop {
    margin-left: 10px;
    margin-top: 3px;
}



#upperbar_searchbox, #time_bar, #subsystem_bar, #diaeditor, #diaeditorcernbox, #reset_zoom{
    margin-top:10px;
    margin-left:5px;
}
/*
#time_bar{
    position:fixed;
    right:10px;
}*/

#mainmenudesktop {
    position: fixed;
    overflow: scroll;
    border: 1px solid blue;
    width: 300px;
    height: 100%;
    background-color: white;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
}
#main_bar_title{
	position: relative;
    top: -3px;
}

    
.mainmenumobile {
    width: 100% !important;
    font-size: xx-large !important;
}
#innermainmenudesktop {
    text-align: left;
    margin: 35px;
}
#reset_tokenid_bar{
    margin-left:15px;
    font-size: initial;
    margin-top: 10px;
}
.headerbutton_div {
    display: flex;
    text-align: left;
}
.headerbutton_div {
    width: 100%;
    
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    white-space: nowrap;
    text-transform: capitalize;
}
.headerbutton_a{
	text-decoration: none;
	width: 100%;
}
#menu_switcher, #Default_menu_folder{
	color:blue;
	text-decoration: underline;
}
.activetab {
    background-color: #418EDD;
    color: White;
}
.activebutton {
    background-color: #418EDD;
}
.headerbutton_div:hover {
    background-color: #418EDD;
    border: 2px solid #4d90fe;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 9px;
    padding-right: 9px;
    color: white;
}

.L2{
	margin-left:10px;
}
.L3{
	margin-left:23px;
}
.fa-angle-right, .fa-angle-down{
	margin-right: .1em;
}
.fa-angle-right, .fa-angle-down{
	margin-right: .1em;
}
    
#coordinates_input_wrapper , #time_bar, #subsystem_bar, #diaeditor, #diaeditorcernbox, #reset_zoom{
    font-size: initial;
	margin-top: 13px;
	margin-left: 15px;
}

#resetTokenId{
	margin-left:1em;
}

#menu_dashboard_wrapper{
	
    padding-left: 11px;
    padding-right: 20px;
    position: relative;
    top: 2px;
}
#menu_dashboard_wrapper_link{
	text-decoration: none;
	color:white;
}
#menu_dashboard_wrapper_alarms, #menu_dashboard_wrapper_sys{
	border-right: 1px solid white;
    border-left: 1px solid white;
    padding-left: 11px;
    padding-right: 20px;
}

#dev_icon{
	height: 30px;
	top: 3px;
	position: relative;
	margin-right:20px;
}


#language_select{
	margin-left: 3px;
}
/*

.language-table{
	border-right: 1px solid white;
    padding-right: 61px;
    width: 50px;
    margin-top: 2px;
    margin-bottom: 6px;
}*/
/* CONTENT */

#alarms_number, 
#sys_number {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: #fff;
    padding: 1px 3px;
    display: inline-block;
    font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.3;
    min-height: 13px;
    bottom: 5px;
    vertical-align: super;
}
.tokenid {
    /*top: 0px;
    left: 0px;
    position: fixed;*/
    
    color: red;
    font-size: small;
}
#mobile_search {
    display: none;
}
#search_header {
    top: 4px;
    position: relative;
}
/* tool page */
#reading_db_flag{
	font-size:large;
	color:white;
	background-color:red;
	text-align:center;
}
/* About page*/
.CONTENT.about{
	font-size: large;
}
a.about, figure.about {
    display: inline-block;
    
}

figure {
    padding: 5px;
}

img.small {
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
}

img.small:active {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}

/* DASHBOARD page*/
.dashboard_panel_title {background-color: darkgray;
display: block ruby;
padding: 5.5px;
}

#dashboard_summary_wrapper{
    display:flex;
}
.dashboard_summary_in {
    /*float: left;*/
    margin-right: 10px;
}
#tree_draw {
	text-align: center;
}
.grey_background{
	background-color:#e6e4e2;
}
.white_background{
	background-color:#FFFFFF;
}
.halfwidth{
	width:49%;
}

.dashboard.minitable{
	padding:3px;
    float: left;
    margin-right: 30px;
    margin-bottom:5px;
    
}
.minitable.dashboard td{
	padding-left:10px;
	
}
.dashboard.minitable tr td:first-child{
	padding-right: 20px;
}
.dashboard_minitable_header{
	text-align:center;
	border:1px solid black;
}
.CONTENT.grid{
	display:grid;
}
.dashboard_level{
	border: 1px solid #999999;
    padding-bottom: 10px;
    margin-right: 5px;
    margin-top:10px;
    padding:3px;
}
div.dashboard{
	clear:both;
	float:left;
	margin-top:3px;
}


#db_progress {
  width: 100%;
  background-color: #ddd;
}

#db_Bar {
  width: 1%;
  height: 3px;
  background-color: #418EDD;
}
#dashboard_computation_table{
    width: 100%!important;
}

/* MPC Page */
table.border tr{
    border-collapse: collapse;
}
.reliability_results_table{
    margin-bottom: 120px;
}

.regform-done-caption {
    border-bottom: 1px dashed #4f4e4e;
    border-right: 1px dashed #4f4e4e;
    text-align: right;
    padding: 0 8px 0 0;
    width: 120px;
    vertical-align: top;
}
.regform-done-title{
    border-bottom: 1px dashed #4f4e4e;
    padding: 3px;
}
/*Simulator page*/
.subsystem_label{
    font-size: smaller;
    padding-left: 1px;
    padding-right: 1px;
}
.border_dark{
    margin-top:10px;
    border-color: gray;
    padding: 16px;
}
#all_alarms_table > tbody > tr > td > span {
	cursor: pointer;
}
table.system_alarms   td:first-child {
	width: 432px;
}
table.system_alarms   td:first-child > span {
	float:right;
}
.blue{
	color:blue;
}
span.bold{
	font-weight: bold;
}

table.system_alarms {
    border-collapse: collapse;
}

table.system_alarms  th,table.system_alarms   td {
    border: 1px solid black;
    vertical-align: top;
}
#distribution{
	margin-bottom: 20px;
}
/*
#env_alarms_wrapper{
  	column-count:2;
    -moz-column-count:2;
    -webkit-column-count:2;
    width:800px;
    height:200px;
}*/

.container {
    position: relative;
    display: block;
}
#verbose_td {
    vertical-align: top;
}
div.container >img.element {
    float: left;
}
/* group */
.grouptable td {
    padding: 3px;
}
.group_main_wrapper{
    height: max-cotent;
    overflow: auto;

}


.group_dragger{
	background: url('../../images/move_icon.png');
	width: 16px;
	height: 16px;
	float: left;
	border: 1px solid grey;
	margin-right: 7px;
}
.group_close{
	margin-left:7px;
}
/*Admin page:*/

#addAdmin_div {
    width: 200px;
    text-align: right;
}
#addAdmin_button {
    margin-top: 5px;
}
#adminpage_div {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}
#admin_tbody tr td {
    padding-right: 5px;
    padding-left: 5px;
}
#photos_table,
#photos_table td,
#photos_table tr {
    border:1px solid grey;
}
.group_main_wrapper{
	background-color:white;
	border: 1px solid black;
    padding: 5px;
    z-index: 1;
	position:absolute;
	width: -moz-max-content;
  	width: -webkit-max-content;
  	width: max-content;
  	
	}

/*table sorter blue theme correction*/
/*documentation page*/

#documentation_table,
#administrators_table,#agenda_table,
#panels_table {
    margin: 0 auto;
}
#documentation_list,#agenda_list,
#administrators_list,
#panels_list {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
/*Toolsbar*/

#right_bar {
    position: fixed;
    overflow: scroll;
    border: 1px solid blue;
    width: 430px;
    height: 100%;
    background-color: white;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    top: 53px;
    right: 0;
}
#toolsbar {
    height: 28px;
    background-color: lightgray;
    margin-top: 44px;
    width: 100%;
}
#toolsbar2 {
    background-color: lightgray;
    margin-top: -1px;
    margin-left: -10px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 5px;
}
.search_button {
    margin-left: 10px;
}
#export_div {
    float: left;
    margin-left: 30px;
    margin-right: 150px;
    margin-top: 5px;
}
#search_div {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
#advanced_search_table {
    margin-left: 20px;
}
#searchbar_form{
    	display: inline-flex;
    }
#export_excel {
    margin-left: 5px;
}
#history_button {
    margin-left: 30px;
}
#history_button_inbar {
    float: right;
    margin-top: 3px;
    margin-right: 3px;
}
/*Alarms page*/

#alarm_tbody > tr {
    cursor: pointer;
}
#alarms_center,
#systems_center,
#search_center,
#impactpage_center {
    width: 100%;
    display: inline-block;
}
/* 
#alarms_center{
	width:1520px;	
}*/

#alarm_list,
#impact_list,
#inhibit_list {
    float: left;
    width: 1295px;
    margin-left: 20px;
    margin-bottom: 10px;
}
#impact_list{
	width: 535px;
}
#inhibit_list {
    width: 545px;
}
#alarm_list {
    width: 545px;
}

#systems_list{
	width: 400px;
}
/*this one is important to keep the width of the tbody and thead equals*/

.tablesorter-blue {
   width: 500px!important;
    /*width: 50%!important;*/
}
.minitable2 {
   width: 330px!important;
   margin-right:30px;
    /*width: 50%!important;*/
}
.inhibited_table.tablesorter-blue,.archived_table.tablesorter-blue{
	width: 90%!important;
	margin-left:auto;
	margin-right:auto;
}

#panelspage_div .tablesorter-blue,#documentationpage_div .tablesorter-blue,
#administratorspage_div .tablesorter-blue {
    width: 800px!important;
}
#search_list td:nth-child(2) {
    font-size: smaller;
}
/*Systems page*/

#system_tbody > tr {
    cursor: pointer;
}
#system_list,
#search_list {
    float: left;
    /*min-width: 505px;*/
    /*min-width:400px;*/
    /*width:40%;*/
}
#page_wrapper{
	background-color: #eee;
	/*height: 870px;*/
	min-height: 400px;
	/*width:64%;*/
	width:100%;
	min-width: 100px;
	margin-top: 10px;
}

#page2 {
    background-color: #fff;
    margin-left: 0px;
    width: 94%;
    height: 100%;
    display:grid;
    overflow: auto;
    font-size: smaller;
    float: left;
    margin-left: 5px;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}
#page3 {
    background-color: white;
    float: right;
    height: 98%;
    width:4%;
    overflow-y: auto;
    margin-right: 3px;
    margin-left: 2px;
    font-size: large;
    margin-top: 5px;
}
#page2.impact {
    width: 52%;
}
#page2.inhibit {
    height: 200px;
}

#trigger_alarm {
    border: 2px solid red;
}
#photos_list_page2, #photos_list_page3 {
    columns: 2;
    list-style-type: none;
}
#page3backbutton_wrapper {
    margin-left:1px;
}
.object_type {
    float: left;
    background-color: blue;
    color: white;
    border: none;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 23px;
    
    font-size: large;
}
.object_type_bar {
    float: right;
    background-color: blue;
    color: white;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 9em;
    margin-right: 3px;
    margin-top: 3px;
}
.history_row {
    height: 29px;
    margin-left: 3px;
}
/*
#delayedactions_table {
    background-color: #bbbbbb;
    margin-left: 10px;
    overflow-y: auto;
    border: grey 1px solid;
    font-size: smaller;
    display: inline-block;
}*/
#delayedactions_tbody > tr> td {
    border-bottom: 1px solid #999999;
}
#delayedactions_div {
    height: 300px;
    overflow: hidden;
}
#delayedactions_tbody {
    background-color: #ddd;
    display: block;
    height: 244px;
    overflow-y: auto;
    overflow-x: hidden;
}
.minitable {
    margin-left: 30px;
    font-size: smaller;
}
.capital:first-letter {
    text-transform: uppercase;
}

#action_description {
    display: block!important;
    background-color: rgb(179, 197, 221);
}
.code_font{
	font-size:smaller;
}
#page4 {
    display: none;
    /* clear: both; */
    
    background-color: #ff9ea1;
    position: fixed;
    bottom: 0;
    width: 445px;
    overflow-y: auto;
    height: 200px;
    font-size: smaller;
    width: 100%;
}
#page2  div {
    margin-left: 0.5em;
    
    
}
#page3  div {
    margin-left: 1em;
    
}
#page3backbutton_wrapper {
    margin-left: 2px!important;
}
#page4 > p {
    margin-left: 1em;
    margin-bottom: -0.8em;
}
.debuginfo p {
    margin-left: 1em;
    font-size: smaller;
}
.level1 {
	margin-top: 3px;
    font-size: large;
    font-weight: bold;
    margin-bottom: inherit!important;
}
.level2 {
    font-size: normal;
}
.cursor {
    cursor: pointer;
}
.float_right{
	float:right;
}
.float_left{
	float:left;
}
.link {
    text-decoration: underline;
}
.margin_left_10{
	margin-left:10px;
}


hr {
    display: block;
    margin-bottom: 1.2em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: #99bfe6;
    height: 1px;
}
hr.blueline {
    background: #99bfe6;
}
hr.greyline {
    background: #cccccc;
}
#debug {
    position: fixed;
    top: 10px;
    right: 10px;
    color: red;
    z-index: 20;
}
.btn {
    margin: 10px;
}
#copytext {
    margin-left: 10px;
    background-color: #cdcdcd;
}
#exitButton {
    margin-top: 5px;
    text-align: right;
    margin-right: 30px;
}
.debuginfo {
    color: #333333;
}
/*INHIBIT page*/
#request_states{
    height: 200px;
    margin-left: 20px;
}
.expired_color{
    background-color: #ed8376!important;
}
.inhibit_button{
	width:60px;
	margin-bottom:2px;
	margin-top:2px;
	
}
.inhibit_add {
    width: 16px;
    height: 16px;
    background: url(../../images/add.png) no-repeat;
    float: right;
    margin-right: 5px;
}
.inhibit_del {
    width: 16px;
    height: 16px;
    background: url(../../images/del.png) no-repeat;
    float: right;
    margin-right: 5px;
}
table#inhibit_table tbody tr td {
    vertical-align: top;
}
table#inhibit_table tbody tr td:NTH-CHILD(2) {
    text-align: right;
}
#inhibited_list,
#archived_list {
    /* float: left; */
    
    clear: both;
    /*width: 1232px;*/
    display: block;
    margin-right: auto;
}

#inhibit_span {
    float: left;
    margin-right: 50px;
    margin-top: 10px;
    border: 1px solid lightgrey;
    padding: 20px;
    margin-left: 5px;
}


th.tablesorter-header.resizable-false {
  background-color: #e6bf99;
}
/* ensure box-sizing is set to content-box, if using jQuery versions older than 1.8;
 this page is using jQuery 1.4 */
*, *:before, *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* overflow table */
.wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 450px;
}
.wrapper table {
  width: auto;
  table-layout: fixed;
}
.wrapper .tablesorter td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 10px;
}
.wrapper .tablesorter th {
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 10px;
}



/* SEARCH PAGE*/
#export{display: inline;
}    
#search_list{
	font-size: smaller;
}
#search_table {
    width: 480px;
}
#search_table.tablesorter .tablesorter-filter-row td:nth-child(1) .tablesorter-filter {
    width: 30px;
}
#alarmpage_div,
#searchpage_div,
#systempage_div,
#impacpage_div {
    display: flex;/*flex;*/
    width: 100%;
}
#searchwrapper {
    margin-top: -15px;
    margin-left: -10px;
    background-color: #eee;
    padding: 10px;
    text-align: center
}
#search_page2 {
    background-color: #ebf2fa;
    position: fixed;
    margin-left: 0px;
    width: 500px;
    overflow-y: scroll;
    height: 100%;
    border: 1px solid grey;
    font-size: smaller;
    padding-bottom: 400px;
    overflow: auto;
}
.leftmargin {
    margin-left: 3px;
}
/*
#delayed_actions_table{
	margin-left:5px;
}
*/

.delayed_action_delete_button {
    margin-left: 10px;
}
/***************************************************************/
/*****************simulatorEditor.php*****************/
/*general*/

#simulator_div {
    width: 1300px;
    background-color: #dddddd;
    height: 800px;
    margin: 5px;
    user-select: none;
}
#simulator_menu {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}
#simulator_menu ul {
    list-style-type: none;
}
#simulator_menu ul li button {
    width: 7em;
}
/*toolbox*/

#toogle_size {
    cursor: pointer;
    user-select: none;
}
#toolbox_div {
    background-color: #3AA9E7;
    height: 370px;
    margin-left: 2px;
    position: fixed;
    top: 155px;
    width: 55px;
    text-align: left;
    padding-left: 10px;
    border: 1px solid black;
    display: block;
}
#toolbox_div td {
    display: inline-block;
}
#toolbox_div input[type=text] {
    width: 30px;
}
#toolbox_div input[type=button] {
    width: 40px;
}
#toolbox_div button {
    width: 50px;
    margin-bottom: 3px;
}
#toolbox_type_select {
    width: 50px;
}
#toolbox_div.big {
    background-color: #3AA9E7;
    height: 33em;
    width: 30em;
    text-align: left;
    padding-left: 10px;
    border: 1px solid black;
}
#toolbox_div.big table tbody tr td {
    display: table-cell;
}
#toolbox_div.big table tbody tr td div table tbody tr:hover {
    background-color: #2AC0D0;
}
#toolbox_div.big table tbody tr {
    margin-bottom: 3px;
}
#toolbox_div.big table tbody tr td {
    padding-bottom: 5px;
}
#toolbox_powers tbody tr td {
    padding-bottom: initial;
}
#toolbox_div.big table tbody tr td div table tbody tr td {
    padding-bottom: 0px;
}
#toolbox_div.big table tbody tr {
    border-bottom: 1px solid black;
}
#toolbox_div.big input[type=text] {
    width: 100px;
}
#toolbox_div.big input[type=button] {
    width: 100px;
}
#toolbox_div.big select {
    width: 100px;
}
#toolbox_link_select {
    height: 30px;
    overflow: overlay;
}
#toolbox_div.big #toolbox_link_select {
    height: 130px;
    overflow: overlay;
}
/*previewbox*/

.previewbox_div {
    background-color: #3ae779;
    height: 4em;
    width: 6em;
    position: absolute;
    /*left: 500px;
    bottom: 300px;*/
    
    border: 2px solid black;
    text-align: initial;
    resize: both;
    overflow: auto;
    font-size: small;
}
#toolbox_selected_powers_wrapper,
#toolbox_list_powers_wrapper,
#toolbox_selected_links_wrapper,
#toolbox_list_links_wrapper {
    max-height: 200px;
    overflow: auto;
    font-size: smaller;
}
#toolbox_selected_powers_wrapper {
    max-height: 100px;
}
#toolbox_div > table > tbody > tr > td {
    vertical-align: top;
}
.drag_bar {
    cursor: pointer;
    height: 15px;
    width: 5em;
    background-color: red;
    margin-bottom: 5px;
}
/*boxes*/

.box {
    /*background-color:#3ae779;
    height: 8em;
    width: 10em;
    position: absolute;
    left: 500px;
    bottom: 300px;*/
    
    color: white;
    border: 1px solid black;
    text-align: initial;
    /*overflow: auto;*/
    font-size: x-small;
}
.box > .drag_bar {
    display: none;
}
.edit_box_button_div {
    text-align: right;
}
.edit_box_button {
    top: 1 px;
    width: 16px;
    right: 2px;
    position: absolute;
}
.box p {
    line-height: 2px;
}
/*SVG Diagrams*/
/*system = box with simulation state .*/
.system.Group rect:not(.state),.system.Group.Electricity rect:not(.state) {
	fill:white;
	stroke-width: 2;
}


.system.Electricity rect:not(.state){
	fill:#2f39ae;
	stroke-width: 2;
}

.system.WaterSystem rect:not(.state){
	fill:#3DA2EA;
	stroke-width: 2;
}

.system.GasSystem rect:not(.state),
.system.VacuumPump rect:not(.state),
.system.Magnet rect:not(.state)
{
	fill:#cbcbcb;
	stroke-width: 2;
}

.system.CoolingStation rect:not(.state){
	fill:#d7e4bd;
	stroke-width: 2;
}

.system.VentilationSystem rect:not(.state){
	fill:#eff3e4;
	stroke-width: 2;
}

.system.SmokeCentral rect:not(.state){
	fill:#cc99ff;
	stroke-width: 2;
}

.system.MinimaxCentral rect:not(.state){
	fill:#f18480;
	stroke-width: 2;
}

.system.Minimax rect:not(.state){
	fill:rgb(241,205,205);
	stroke-width: 2;
}

.system.PneumaticController rect:not(.state){
	fill:#7c7c7c;
	stroke-width: 2;
}


.system.Zone rect:not(.state){
	fill:white;
	stroke-width: 2;
	stroke-dasharray: 2;
}

.system.Group.label{
	fill:black;
	color:black;
}

.system.Group.Electricity.label{
	fill:black;
	color:black;
}

.system.Electricity.label,
.system.WaterSystem.label{
	fill:white;
	color:white;
}

.system.ups rect:not(.state),
.system.UPS rect:not(.state)
{
	stroke: rgb(250, 128, 66);
	pointer-events: all;
}

.relation.UPS path,.UPS ellipse,
.relation.ups path,.ups ellipse
{
	stroke: rgb(250, 128, 66);
}


.relation.UPS path:not([fill="none"]),.UPS ellipse:not([fill="none"]),
.relation.ups path:not([fill="none"]),.ups ellipse:not([fill="none"])
{
	fill: rgb(250, 128, 66);
}

.relation.not_required path[fill="none"]
{
	stroke-dasharray: 4 3;
}

.relation.Water path,.relation.water path
{
	stroke: #4472C4;
}

.relation.Water path:not([fill="none"]),
.relation.water path:not([fill="none"])
{
	fill: #4472C4;
}

.relation.PrimaryWater path,
.relation.primarywater path,
{
	stroke: #00B050;
}

.relation.PrimaryWater path:not([fill="none"]),
.relation.primarywater path:not([fill="none"]),
{
	fill: #00B050;
}

.relation.ChilledWater path,
.relation.chilledwater path
{
	stroke: #7030A0;
}

.relation.ChilledWater path:not([fill="none"]),
.relation.chilledwater path:not([fill="none"])
{
	fill: #7030A0;
}

.relation.Gas path,
.relation.gas path,
.relation.vaccum path,
.relation.Vaccum path
{
	stroke: #7F7F7F;
}

.relation.Gas path:not([fill="none"]),
.relation.gas path:not([fill="none"]),
.relation.vaccum path:not([fill="none"]),
.relation.Vaccum path:not([fill="none"])
{
	fill: #7F7F7F;
}

.relation.PowerControl path,
.relation.powercontrol path,
.relation.Control path,
.relation.control path
{
	stroke: #ff0000;
}

.relation.PowerControl path:not([fill="none"]),
.relation.powercontrol path:not([fill="none"]),
.relation.Control path:not([fill="none"]),
.relation.control path:not([fill="none"])
{
	fill: #ff0000;
}

/*switches and states*/
.state.off {
    width: 10px;
    height: 10px;
    background: url("../../images/stateoff.png") no-repeat;
}
.state.on {
    width: 10px;
    height: 10px;
    background: url("../../images/stateon.png") no-repeat;
}
.switch.off {
    width: 10px;
    height: 10px;
    background: url("../../images/switchoff.png") no-repeat;
}
.switch.on {
    width: 10px;
    height: 10px;
    background: url("../../images/switchon.png") no-repeat;
}
/*debug*/

#simulator_debug {
    color: red;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#current_preview_position {
    position: fixed;
    bottom: 0;
    color: red;
    left: 10px;
}
#error_messages {
    color: red;
    position: fixed;
    top: 0;
    right: 50%;
    font-size: larger;
}
#loadOthers_wrapper {
    height: 150px;
    width: 150px;
    overflow: overlay;
    background: darkgrey;
    position: fixed;
    right: 20px;
    border: 1px solid grey;
}
#loadOthers_wrapper table tbody tr {
    cursor: pointer;
}
#loadOthers_wrapper table tbody tr td {
    text-align: right;
}
#loadOthers_wrapper table tbody tr:hover {
    background-color: grey;
}
/*canvas*/

canvas {
    position: absolute;
    top: 132px;
}
/****************/
/*IMPACT*/

#table_center {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
#table_center thead tr th:first-child {
    width: 500px;
    flex: 1;
}
#l2_center {
    /*position:fixed;
	bottom:1px;
	left:20px;
	background-color: cornsilk;
    padding: 16px;
    height: 330px;
    overflow: auto;
    border: 1px solid grey;*/
    
    background-color: cornsilk;
    padding: 16px;
    height: 330px;
    overflow: auto;
    border: 1px solid grey;
    width: 200px;
}
#impact_info {
    margin-bottom: 10px;
}
.newtabicon {
    float: right;
    margin-right: 5px;
}
/*
#impact_list{
	display:table;
	float:left;
	
}*/

.footer {
    clear: both;
}
#version{
	float:right;
	margin-right:1em;
}
#footer_bar {
    background-color: lightgray;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}
::-webkit-scrollbar {
    display: none;
}
#pointing_svg {
    display: none;
    position: absolute;
    z-index: 1;
}
.impact_hidden{
	display:none;
}
/* SYSTEMS 
#system_tbody{
	position: fixed;
    width: 448px;
    height:80%;;
    overflow: auto;
}
#system_tbody tr td{
	width:290px;
}
*/

#img-slot {
    position: absolute;
    margin-left: auto !important;
    margin-right: auto;

    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-height: 85vh;
    max-width: 70vw;
    overflow: hidden;
}

#child-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
}

#img-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    margin-left: -0.5em !important;
    width: 101%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#img-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#img-modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#tile-img {
    position: relative;
    float: left;
    width: 33.333%;
    height: 100%;
    overflow: hidden;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

#close-modal {
    position: absolute;
    top: 55px;
    right: 3vw;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#open-full-image > a {
    position: absolute;
    top: 125px;
    right: 3vw;
    color: #f1f1f1;
    font-size: 38px;
    text-decoration: none !important;
    font-weight: bold;
    transition: 0.3s;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#previous-image {
    position: absolute;
    left: 5vw;
    top: 50vh;
    color: #f1f1f1;
    font-size: 60px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#next-image {
    position: absolute;
    right: 5vw;
    top: 50vh;
    color: #f1f1f1;
    font-size: 60px;
    text-decoration: none;
    font-weight: bold;	
    transition: 0.3s;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#close-modal:hover, #close-modal:focus, 
#open-full-image > a:hover, #open-full-image > a:focus, 
#previous-image:hover, #previous-image:focus, 
#next-image:hover, #next-image:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.tool_fieldset {
    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
    border-color:#999999;
    margin-right:5px;
    margin-top:10px;
}
/*DSU PAGE*/
#DSU_toolbar{
    background-color: grey;
    padding:10px;

}


#DSU_toolbar_wrapper{
    margin-bottom: 25px;
    margin-top: 60px;
}




/***********************************************************************************************/
/*MOBILE CSS*/
/***********************************************************************************************/
#computation_table.tablesorter-blue{
	width:initial!important;
}


figure{

text-align: center;
text-indent: 0;
margin: 0.1em;
padding: 0.2em;
display: inline-block;

}
.nounderscore{
    text-decoration: none
}

/*Probability page*/
table.pad_basic{
    margin-top: 3px;
}
table.pad_basic td{
    padding: 3px;
    padding-right: 20px;
}
#tree_wrapper >div{
	margin-top:100px;
}

.node.tennis-draw.object{
	margin-bottom:10px;
	
}
div.tenis-draw.relation>p{
	margin-bottom:30px;
}

.left_margin{
	margin-left:20px;
}
#error_searching{
    color:red;
    font-size: large;
}
.float_block {
    margin-right: 43px;
    margin-bottom: 40px;
}

/*Alarm Helper*/
.button-plus-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 30px; /* Set the width */
    height: 30px; 
}

.button-plus-alarmHelper img {
    content : url('../../images/alarmHelper/plus.png');
    width: 100%;
    height: 100%;
}

.button-plus-alarmHelper:hover img {
    content : url('../../images/alarmHelper/plus_hover.png');
}

.button-minus-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 30px; /* Set the width */
    height: 30px; 
}

.button-minus-alarmHelper img {
    content : url('../../images/alarmHelper/minus.png');
    width: 100%;
    height: 100%;
}

.button-minus-alarmHelper:hover img {
    content : url('../../images/alarmHelper/minus_hover.png');
}

.button-edit-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 35px; /* Set the width */
    height: 35px; 
}

.button-edit-alarmHelper img {
    content : url('../../images/alarmHelper/edit.png');
    width: 100%;
    height: 100%;

}

.button-edit-alarmHelper:hover img {
    content : url('../../images/alarmHelper/edit_hover.png');
}

.button-noEdit-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 35px; /* Set the width */
    height: 35px; 
}

.button-noEdit-alarmHelper img {
    content : url('../../images/alarmHelper/noedit.png');
    width: 100%;
    height: 100%;
}

.button-closeEdit-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 35px; /* Set the width */
    height: 35px; 
}

.button-closeEdit-alarmHelper img {
    content : url('../../images/alarmHelper/close.png');
    width: 100%;
    height: 100%;
}

.button-closeEdit-alarmHelper:hover img {
    content : url('../../images/alarmHelper/close_hover.png');
}

.button-saveEdit-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 35px; /* Set the width */
    height: 35px; 
}

.button-saveEdit-alarmHelper img {
    content : url('../../images/alarmHelper/save.png');
    width: 100%;
    height: 100%;
}

.button-saveEdit-alarmHelper:hover img {
    content : url('../../images/alarmHelper/save_hover.png');
}

.button-closeEdit-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 30px; /* Set the width */
    height: 30px; 
}

.button-closeEdit-alarmHelper img {
    content : url('../../images/alarmHelper/close.png');
    width: 100%;
    height: 100%;
}

.button-closeEdit-alarmHelper:hover img {
    content : url('../../images/alarmHelper/close_hover.png');
}

.button-newEdit-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 30px; /* Set the width */
    height: 30px; 
}

.button-newEdit-alarmHelper img {
    content : url('../../images/alarmHelper/new.png');
    width: 100%;
    height: 100%;
}

.button-newEdit-alarmHelper:hover img {
    content : url('../../images/alarmHelper/new_hover.png');
}

.button-deleteEdit-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 35px; /* Set the width */
    height: 35px; 
}

.button-deleteEdit-alarmHelper img {
    content : url('../../images/alarmHelper/delete.png');
    width: 100%;
    height: 100%;
}

.button-deleteEdit-alarmHelper:hover img {
    content : url('../../images/alarmHelper/delete_hover.png');
}

.button-expandEvent-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 35px; /* Set the width */
    height: 35px; 
}

.button-expandEvent-alarmHelper img {
    width: 100%;
    height: 100%;
}

.button-collapseAll-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 35px; /* Set the width */
    height: 35px; 
}

.button-collapseAll-alarmHelper img {
    width: 100%;
    height: 100%;
}

.button-collapseActions-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 35px; /* Set the width */
    height: 35px; 
}

.button-collapseActions-alarmHelper img {
    width: 100%;
    height: 100%;
}

.button-defaultDate-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 40px; /* Set the width */
    height: 40px; 
    min-width: 40px; /* Set the minimum width */
    min-height: 40px; 
}

.button-defaultDate-alarmHelper img {
    width: 100%;
    height: 100%;
}

.button-defaultDate-alarmHelper:hover img {
    content : url('../../images/alarmHelper/defaultDate_hover.png');
}

.button-update-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 40px; /* Set the width */
    height: 40px; 
    min-width: 40px; /* Set the minimum width */
    min-height: 40px; 
}

.button-update-alarmHelper img {
    width: 100%;
    height: 100%;
}

.button-update-alarmHelper:hover img {
    content : url('../../images/alarmHelper/update_hover.png');
}

.button-upload-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 40px; /* Set the width */
    height: 40px; 
    min-width: 40px; /* Set the minimum width */
    min-height: 40px; 
}

.button-upload-alarmHelper img {
    width: 100%;
    height: 100%;
}

.button-upload-alarmHelper:hover img {
    content : url('../../images/alarmHelper/upload_hover.png');
}

.button-download-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 40px; /* Set the width */
    height: 40px; 
    min-width: 40px; /* Set the minimum width */
    min-height: 40px; 
}

.button-download-alarmHelper img {
    width: 100%;
    height: 100%;
}

.button-download-alarmHelper:hover img {
    content : url('../../images/alarmHelper/download_hover.png');
}

/* alarm stats */
.button-stats-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 25px; /* Set the width */
    height: 25px; 
}

.button-stats-alarmHelper img {
    width: 100%;
    height: 100%;
}

.button-stats-alarmHelper:hover img {
    content : url('../../images/alarmHelper/stats_hover.png');
}

.link-stats-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
}

.link-stats-alarmHelper:hover img {
    content : url('../../images/alarmHelper/stats_hover.png');
}


.button-sort-alarmHelper {
    border: none;
    background: none;
    cursor: pointer;
    width: 20px; /* Set the width */
    height: 10px; 
}

.button-sort-alarmHelper img{
    width: 100%;
    height: 200%;
}

.button-sort-alarmHelper:hover img{
    content: url('../../images/alarmHelper/sort_hover.png');
}

.alarmStats-search-bar {
    background-image: url('../../images/alarmHelper/search.png');
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    background-size: 20px 20px; /* Adjust size of the icon */
    width: 640px; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-left: 5px;
}




@media (max-device-width: 920px) {
    /*body{
		background-color:red;
	}*/
    /*header*/
    
    #menupngdesktop {
        width: 70px;
    }
    #toolsbar {
        height: 250px;
        font-size: 2em;
    }
    #desktopmenubutton {
        font-size: 1.7em;
        height: 100px;
    }
    #mainmenudesktop {
        overflow: inherit;
        border: none;
        background-color: initial;
        width: 100px;
    }
    #mobile_search {
        display: block;
        height: 110px;
        border-bottom: 1px solid grey;
        text-align: left;
        background-color: #418EDD;
        padding-top: 20px;
    }
    #export_div {
        float: left;
        margin-left: 30px;
        margin-right: 150px;
        margin-top: 65px;
    }
    #mobile_search_input {
        width: 51%;
        height: 1.1em;
        margin-left: 13px;
        font-size: 1em;
    }
    #mobile_search_header {
        font-size: 1em;
    }
    #tokenid {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #3c3c3c;
        margin-left: -35px;
        color: white;
        text-align: center;
    }
    .CONTENT {
        margin-top: 100px;
    }
    #searchwrapper {
        margin-left: -10px;
        background-color: #eee;
        padding: 10px;
        text-align: center
    }
    #search_input {
        font-size: 1.1em;
        width: 8em;
    }
    #search_button {
        font-size: 2em;
        margin-left: 0.2em;
    }
    
    #systems_center {
        width: 99%;
        margin-left: 5px;
    }
    #search_center {
        width: inherit;
        display: inherit;
    }
    #alarm_list,
    #system_list,
    #impact_list,
    #search_list {
        display: block;
        max-width: initial;
        width: 90%;
        font-size: 2em!important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    #alarm_table td,
    #systems_table td,
    #impact_table td {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #page2 {
        display: none;
        position: fixed;
        background-color: #DBEFFB;
        overflow: inherit;
        width: 100%;
        height: 100%;
        font-size: medium;
        bottom: 0;
        font-size: 2em;
        top: 90px;
        left: 0;
        margin-left: 0px;
        overflow: auto;
    }
    .debuginfo p {
        margin-left: 1em;
        font-size: small;
    }
    #alarm_buttons {
        text-align: right;
    }
    #page3 {
        display: none;
        position: fixed;
        background-color: #DBEFFB;
        overflow: inherit;
        width: 100%;
        height: 100%;
        font-size: medium;
        bottom: 0;
        font-size: 2em;
        top: 90px;
        left: 0;
        margin-left: 0px;
        overflow: auto;
    }
    #page3 > p {
        margin-bottom: .7em;
    }
    #page4 {
        display: none;
        height: 400px;
        margin-left: initial;
        width: 50%;
        border-top: black 1px solid;
        border-right: black 1px solid;
        font-size: smaller;
    }
    .level1 {
        font-size: 1.7em;
    }
    #page2>p,
    #page3>p {
        margin-left: .1em;
    }
    #table_center {
        width: 100%;
    }
    #closepage2 {
        background-color: red;
        width: 100%;
        height: 136px;
        text-align: center;
        top: 0;
        position: fixed;
        right: 0;
    }
    #mainmenumobile {
        display: flex;
        margin-bottom: 20px;
        background-color: #3c3c3c;
        width: 100%;
        position: fixed;
        height: 100px;
    }
    .IMAGETINY {
        display: none
    }
    .mobiletitle {
        display: inline;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: white;
    }
    .tokenid {
        color: red;
        position: initial;
        top: auto;
        left: auto;
        font-size: 1em;
    }
    #mobilecontrol {
        display: none;
        right: 15px;
        top: 5px;
        position: fixed;
        padding: 8px;
        background-color: red;
        color: white;
        font-size: 2em;
        border: 3px solid white;
    }
    #page2 button {
        margin-left: .5em;
        margin-right: 1em;
    }
    .ROW {
        position: fixed;
        top: 100px;
        width: 90%;
        font-size: 3em;
        background-color: #3c3c3c;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .CELL {
        display: none;
    }
    /*.ROW{
		position: fixed;
	    top: 100px;
	    width: 90%;
	    font-size: 3em;
	    z-index: 1;
	    height:800px;
	}*/
    
    .headerbutton_div {
        height: 100px;
        border-bottom: 1px solid grey;
        text-align: left;
    }
    .headerbutton_a {
        background-color: black;
        border-bottom: 1px solid gray;
        color: white;
        border: none;
        width: 100%;
    }
    /* CONTENT */
    
    .container {
        /*position:fixed!important;*/
        
        position: absolute;
    }
    #mobilemenubutton img {
        height: 80px;
        margin-left: 1em;
        margin-right: 2em;
        margin-top: .5em;
    }
    #pagecontent {
        position: fixed;
        margin-top: 100px;
        font-size: 2.5em;
    }
    #pagecontent.administration {
        position: initial;
        margin-top: 100px;
        font-size: 2.5em;
    }
    button {
        font-size: 30px;
        margin-left: 20px;
        padding: 5px;
    }
    #administrators_table,
    #documentation_table {
        font-size: 1em!important;
    }
    #systempage_div,
    #alarmpage_div,
    #impactpage_div,
    #searchpage_div {
        margin-left: auto;
        margin-right: auto;
        display: table;
    }
    #alarms_number {
        font-size: 1em;
        margin-left: 2em;
    }
    .tablesorter-blue input.tablesorter-filter,
    .tablesorter-blue select.tablesorter-filter {
        height: 4em!important;
    }
    #documentationpage_div .tablesorter-blue,
    #administratorspage_div .tablesorter-blue {
        width: 600px!important;
    }
    #alarms_center {
        width: initial;
    }
    .headerbutton_a:hover {
        background-color: #418EDD;
    }
    #jumptop {
        display: none;
        position: fixed;
        width: 75px;
        height: 75px;
        right: 30px;
        bottom: 30px;
        cursor: pointer;
        z-index: 9990;
        display: none;
        background: url(../img/up.png) no-repeat center center rgba(0, 0, 0, 0.8);
        background-size: 75px 75px;
        border: none;
        border-radius: 50%;
    }
    #verbosecontrol {
        display: none;
        position: fixed;
        top: 5px;
        right: 35px;
        color: white;
        font-size: 2.5em;
        border: 4px solid white;
        padding-left: 11px;
        padding-right: 11px;
    }
    #verbose {
        position: fixed;
        top: 100px;
        right: 0px;
        z-index: 1;
        left: initial;
        height: 100%;
        font-size: 2em;
    }
    #addAdmin_div {
        width: 5em;
        height: 2em;
        display: inline;
    }
    #addAdmin_div input {
        width: 8em;
        background-color: #99bfe6;
        height: 3em;
        vertical-align: 1em;
    }
    #footer_bar {
        display: none;
    }
    #pagecontent.inhibit {
        position: inherit;
    }
    #inhibit_list {
        width: 98%;
    }
    #inhibit_span {
        width: 100%;
        font-size: 1em;
        margin-right: inherit;
    }
    #inhibit_table_form {
        margin-left: auto;
        margin-right: auto;
    }
    #inhibit_span input {
        font-size: 0.75em;
    }
    #inhibit_span textarea {
        font-size: 0.75em;
    }
    #inhibit_span select {
        font-size: 1em;
    }
    .inhibit_add {
        width: 1em;
        height: 1em;
        background: url(../../images/add32.png) no-repeat;
        float: right;
        margin-right: 5px;
    }
    .inhibit_del {
        width: 1em;
        height: 1em;
        background: url(../../images/del32.png) no-repeat;
        float: right;
        margin-right: 8px;
    }

    #img-modal {
	background-color: red;
    }

}
